
.container{
    margin:10px auto;
    padding:0 20px;

    border-radius:1rem;

}

.wrapper{
    background-color: lightgreen;
}

.invisible{
    display: none;
}

.disp-block{
    display: block;
}

.channel-button{
    background-color: rgb(0, 0, 0);
    position: relative;
    margin: 5px auto;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
.channel-button:hover{
    transform: scale(1.05);
}
.channel-button:active{
    background-color:gray;
}
.channel-button p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: #fff;
}

.article-wrapper{
    padding: 20px;
    margin:15px;
    border-radius: 5px;
    border:1px solid rgb(3, 53, 24);
}

article p{
    margin :0 5%;
    font-size: 15px;
}

a{
    font-size:25px;
    float:  right;
}

.article-wrapper:after {
    content: '';
    display: block;
    clear: both;
}


.active{
    background-color:rgb(145, 96, 12);
}

img {
    border: 1px solid rgb(32, 46, 5);
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    max-height: 250px;
    border-radius: 15px;
}

.loading-indicator{
    text-align: center;
    font-size: 45px;
}
